/* fixes a bug on the TUI library until this PR is merged https://github.com/Telegram-Mini-Apps/TelegramUI/pull/58 */
.radio-container label {
  display: block;
}

p.birthday-today {
  background: var(--tg-theme-secondary-bg-color);
  padding: 3px 6px;
  border-radius: 4px;
  margin-left: -6px;
  color: var(--tg-theme-accent-text-color);
}
